$gris:#6b717f;
$lightgrey:#8C8C8C;
$blanc:#fff;
$black:#000;

@mixin message{
    border: 1px solid #8C8C8C;
    padding: 16px;
    color: #fff;
}

body {
    font: 100% "Space Mono", monospace;
    color: $gris;
    margin: 0;
    padding: 0;
    background-color: $blanc;
    overflow-x: hidden;
} 
main{
    padding: 0 1em;
}
    article{
        display: flex;
        flex-wrap: wrap;
        & section{
            flex-grow: 1;
            flex-basis: 45%;
            border: 1px $lightgrey solid;
            -webkit-box-shadow: 10px 10px 15px -4px $gris;
            -moz-box-shadow: 10px 10px 15px -4px $gris;
            box-shadow: 10px 10px 15px -4px $gris;
            padding: 16px;
            margin: 16px;
            clear: both;
            overflow: auto;
            box-sizing: border-box; 
            &#selling-points{
                flex-grow: 2;
                flex-basis: 100%;  
            }
        }
        & code{
            background: $black;
            border: 1px solid $gris;
            color: $lightgrey;
            page-break-inside: avoid;
            font-family: monospace;
            font-size: 15px;
            line-height: 1.6;
            margin-bottom: 1.6em;
            max-width: 100%;
            overflow: auto;
            padding: 1em 1.5em;
            display: block;
            word-wrap: break-word; 
            &.before{
                float: left;
                width: 40%;
            }
            &.after{
                float: right;
                width: 40%;
            }
        }
    }
    .success{
        @include message();
        background-color: green;
    }
    .error{
        @include message();
        background-color: red;
        &:hover{
            background-color: green;
        }
    }
    .warning{
        @include message();
        background-color: orange;
    }
