@import "partial";

body {
    font: 100% "Space Mono", monospace;
    color: $gris;
    margin: 0;
    padding: $padding;
    background-color: $blanc;
    overflow-x: hidden;
} 
main{
    padding-top: 0;
    padding-bottom: 0;
}
    article{
        padding: $padding;
        display: flex;
        flex-wrap: wrap;
        & section{
            flex-grow: 1;
            flex-basis: 45%;
            border: 1px $lightgrey solid;
            @include shadow ($shadowColor);
            padding: $padding;
            margin: 16px;
            clear: both;
            overflow: auto;
            box-sizing: border-box; 
            &#selling-points{
                flex-grow: 2;
                flex-basis: 100%;  
            }
        }
        & code{
            background: $black;
            border: 1px solid $gris;
            color: $lightgrey;
            page-break-inside: avoid;
            font-family: monospace;
            font-size: 15px;
            line-height: 1.6;
            margin-bottom: 1.6em;
            max-width: 100%;
            overflow: auto;
            padding: $padding;
            display: block;
            word-wrap: break-word; 
            &.before{
                float: left;
                width: 40%;
            }
            &.after{
                float: right;
                width: 40%;
            }
        }
    }
    h1 {
        text-align: center;
        color: $pink;
    }

    h2{
        color: $pink;
    }

    h3 {
        color: $pink;
        text-align: center;
        font-size: 1.5em;
        padding: $padding;
        margin-bottom: 0px;
    }

    .success{
        border: 1px solid #8C8C8C;
        padding: $padding;
        color: $blanc ;
        background-color: $green;
    }

    .error{
        @extend .success;
        background-color: $red;
        &:hover{
            background-color: $green;
        }
    }

    .warning{
        @extend .success;
        background-color: $orange;
    }
    footer{
        & h3{
            padding: $padding*2;
        }
    }

    @for $i from 1 through 6 {
        .adv-item-#{$i}{
            // opacity: $i * 0.1 * 3;
            background-color:lighten($blue, $i*5%);
            color: darken($gris, $i*5%);
        }
    }

    li{
        margin: 5px;
        border-radius: 5px;
        list-style-type:none;
    }
